<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        .box{
            width: 100%;
            height: auto;
            margin: 30px auto 0;
        }
        h1{
            text-align: center;
            margin-bottom: 20px;
        }
        .layui-btn-sm i{
            font-size: 24px !important;
        }
        #Form{
            margin-top: 30px;
            padding-right: 30px;
            display: none;
        }
        textarea{
            height: 50px;
        }
        #imgurl{
            width: 200px;
        }
        tbody tr{
            height: 100px;
        }
        .layui-table-cell{
            height: auto;
        }
    </style>
</head>
<body>
<form class="layui-form" action="" lay-filter="formText" id="Form">
    <input type="hidden" name="gid" >
    <div class="layui-form-item">
        <label class="layui-form-label">产品名</label>
        <div class="layui-input-block">
            <select name="cid" lay-verify="required">
                <?php foreach($res as $v){?>
                <option value="<?php echo $v['cid'] ?>"><?php echo $v['cname'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-block">
            <input type="text" value="" name="gname" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="0" title="上架" checked>
            <input type="radio" name="status" value="1" title="下架">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品缩略图</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <input type="hidden" name="gthumb" value="">
                <button type="button" class="layui-btn" id="test2">图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <img id="imgurl" src="" alt="">
                </blockquote>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品轮播图</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <input type="hidden" name="gbanner" value="">
                <button type="button" class="layui-btn" id="test1">图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品市场价</label>
        <div class="layui-input-block">
            <input type="number" name="market_price" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品零售价</label>
        <div class="layui-input-block">
            <input type="number" name="shop_price" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品库存量</label>
        <div class="layui-input-block">
            <input type="number" name="stock" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品详情</label>
        <div class="layui-input-block">
            <textarea id="textArea" name="content" placeholder="" autocomplete="off" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        </div>
    </div>
</form>

<div class="box">
    <table id="demo" lay-filter="test"></table>
    <script type="text/html" id="box">
        <button type="button" id="btn1" class="layui-btn layui-btn-sm" onclick="edits({{d.gid}})">
            <i style="font-size: 20px;" class="layui-icon layui-icon-edit"></i>
        </button>
        <button type="button" id="btn2" class="layui-btn layui-btn-sm layui-btn-danger" onclick="del({{d.gid}})">
            <i class="layui-icon layui-icon-delete"></i>
        </button>
    </script>
</div>
<script type="text/html" id="gbanner">
    {{# var arr = d.gbanner.split(',') }}
    {{# arr.forEach(ele=>{ }}
        <img src="..{{ele}}" alt="">
    {{# })}}
</script>
<script type="text/html" id="zhuang">
{{# if(d.status==0){ }}
上架
{{# }else{ }}
下架
{{# } }}
</script>
</body>
</html>
<script src="../static/layui/layui.js"></script>
<script>
    var $,layer,table,form,layedit,dd;
    var index,index1;
    layui.use(['table','jquery','form','layer','upload','layedit'],function () {
        table=layui.table;
        layer=layui.layer;
        form=layui.form;
        $=layui.jquery;
        layedit=layui.layedit;
        var upload=layui.upload;
        // 富文本编辑器



        // 轮播图
        upload.render({
            elem: '#test1'
            ,url: 'upload.php'
            ,multiple:true
            ,number:3
            ,size:500
            ,done: function(res){
                if(res.code==200){
                    layer.msg(res.msg,{icon:1});
                    $('input[name="gbanner"]').val((index,value)=>value+res.data+',');
                    $("#demo2").append(`<img src="../${res.data}" style="width: 20%">`)
                }else{
                    layer.msg(res.msg,{icon:2});
                }
            }
        });
        // 缩略图
        upload.render({
            elem: '#test2'
            ,url: 'upload.php'
            ,size:500
            ,done: function(res){
                if(res.code==200){
                    layer.msg(res.msg,{icon:1});
                    $('input[name="gthumb"]').val(res.data);
                    $("#imgurl").attr('src','../'+res.data);
                }else{
                    layer.msg(res.msg,{icon:2});
                }
            }
        });

        // 渲染数据在页面上
        table.render({
            elem: '#demo'
            ,url: 'goods.php?type=querys' //数据接口
            ,page: true //开启分页
            ,limit:5
            ,limits:[5,10,20,25,30]
            ,cols: [[ //表头
                {field: 'gid', title: 'ID', sort: true,width:"100"}
                ,{field: 'gname', title: '产品名称',width:"150"}
                ,{field:'cname',title:'产品分类',width:"150"}
                ,{field: 'gthumb', title: '产品缩略图',templet: function (d) {
                        return `<img src="..${d.gthumb}">`
                    },width:"150"}
                ,{field: 'gbanner', title: '产品轮播图',templet:"#gbanner",width:"380"}
                ,{field: 'market_price', title: '产品市场价',width:"150"}
                ,{field: 'shop_price', title: '产品零售价',width:"150"}
                ,{field: 'stock', title: '产品库存量',width:"150"}
                ,{field: 'create_time', title: '创建时间',width:"150"}
                ,{field: 'update_time', title: '修改时间',width:"150"}
                ,{field: 'status', title: '状态',templet:"#zhuang",width:"150"}
                ,{field: '', title: '操作',templet:"#box",width:"150"}
            ]]
        });


        // 修改数据
        form.on("submit(formDemo)",function (data) {
            let formData=data.field;
            formData.content=layedit.getContent(dd,formData.content);
            $.post('goods.php?type=updates',formData,function (res) {
                var data=JSON.parse(res);
                if(data.code==200){
                    layer.close(index);
                    layer.msg(data.msg);
                    table.reload("demo");
                }else{
                    layer.msg(data.msg);
                }
            })
            return false;
        })

    });
    // 删除数据
    function del(gid) {
        index1=layer.confirm('您确定要删除么？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.get('goods.php?type=deletes',{gid:gid},function (res) {
                var data=JSON.parse(res);
                if(data.code==200){
                    layer.close(index1)
                    table.reload('demo');
                    layer.msg("删除成功",{icon:1});
                }else{
                    layer.msg(data.msg);
                }
            })
        }, function(){
            layer.close(index1);
        });
    }


//      获取需要修改的值
    function edits(gid) {
        dd=layedit.build("textArea");
        index=layer.open({
            type:1,
            title:"修改",
            skin: 'layui-layer-rim', //加上边框
            area: ['800px', '700px'], //宽高
            content: $("#Form")
        });
        $.get('goods.php?type=querysone',{gid:gid},function (res) {
            let data=JSON.parse(res);
            layedit.setContent(dd,data.data.content);

            if(data.code==200){
                let datas=data.data;
                form.val("formText",{
                    "gid":datas.gid,
                    "cid":datas.cid,
                    "gname":datas.gname,
                    "gthumb":datas.gthumb,
                    "gbanner":datas.gbanner,
                    "market_price":datas.market_price,
                    "shop_price":datas.shop_price,
                    "stock":datas.stock,
                    "content":datas.content,
                });
                $("#imgurl").attr('src','../'+datas.gthumb);
                $("#demo2").html("");
                let arr=datas.gbanner.split(',');
                arr.splice(-1,1);
                arr.forEach(value=>{
                    $("#demo2").append(`<img src="..${value}" width="200px">`)
                    console.log(value);
                })


                // $("input[name='gid']").val(data.data.gid);
                // $("input[name='gname']").val(data.data.gname);
                // $("input[name='gthumb']").val(data.data.gthumb);
                // $("input[name='gbanner']").val(data.data.gbanner);
                // $("#imgurl").attr('src','../'+data.data.gthumb);
                // $('input[name="gbanner"]').val((index,value)=>value+data.data+',');
                // $("input[name='market_price']").val(data.data.market_price);
                // $("input[name='shop_price']").val(data.data.shop_price);
                // $("input[name='stock']").val(data.data.stock);
                // $("textarea[name='content']").val(data.data.content);
                // $("input[name='sales']").val(data.data.sales);
            }else{
                layer.msg(data.msg);
            }
        })
    }

</script>