<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        .layui-btn{
            width: 100px;
        }
        .layui-form{
            margin-top: 50px;
            margin-left: 50px;
            padding-right: 50px;
        }
        #imgurl{
            width: 200px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="ntitle" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea id="textArea" name="content" placeholder="请输入" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="number" name="nsort" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>
<script src="../static/layui/layui.js"></script>
<script>
    layui.use(['form','jquery','layer','layedit'],function () {
        var {form,$,layer,layedit}=layui;
        // 富文本编辑器
        var index=layedit.build("textArea");
        form.on("submit(formDemo)",function (data) {
            data.field.content=layedit.getContent(index);
            $.ajax({
                type:"post",
                url:"newsadd.php",
                data:data.field,
                dataType:"json",
                success:function (res) {
                    if(res.code==200){
                        layer.open({
                            title: '海贼王周边商城',
                            content: res.msg
                        });
                    }else{
                        layer.msg(res.msg)
                    }
                }
            })
            return false;
        })
    })

</script>


