<?php
$news=$mysqli->query("select * from news")->fetch_all(MYSQLI_ACCOC);
?>
<link rel="stylesheet" type="text/css" href="../static/index/css/index_meirong.css"/>
		<div class="tupian">
			<img src="../pet/top.jpg" >
		</div>
		
		<h2 class="title">修车五大禁忌忌开锅时贸然开引擎盖</h2>
		<h6 class="title_time">发布日期： 2015-01-20 12:03</h6>
		
		<ul class="title_neirong">
			<li>汽车电瓶是汽车得以正常行驶不可或缺的动力来源之一，如何避免非正常使用缩短汽车电瓶使用寿命，并延长其使用时间是很多车主关心的问题。</li>
			<li>&nbsp;</li>
			<li>正常情况下，一块车载电瓶的使用寿命为4年，而电瓶寿命的长短与气候情况以及车主的使用习惯也有很大的关系。常见的折损电瓶寿命的因素包括：空 气湿度、灰尘、腐蚀、电极松动或过紧、磨损以及汽车电缆的损坏。在极端情况下，这些因素都可能引起电瓶破裂甚至是更加严重的事故，而湿度和灰尘则被认作是 两个最常见的罪魁祸首。</li>
			<li>&nbsp;</li>
			<li>保持电池的干净整洁，并进行定期检测是延长汽车电瓶使用寿命的有效手段，而对汽车电瓶的清洁不同于日常物品，仅用抹布外加清洁用油进行擦拭还远远不够。</li>
			<li>&nbsp;</li>
			<li>保持电池的干净整洁，并进行定期检测是延长汽车电瓶使用寿命的有效手段，而对汽车电瓶的清洁不同于日常物品，仅用抹布外加清洁用油进行擦拭还远远不够。</li>
		</ul>
		
		
		<div class="fenye">
			<div class="shang">
				<span>上一篇</span>
				<span>你的爱车清理到位了吗 可别忘记排水孔</span>
			</div>
			<div class="xia">
				<span>没有了</span>
				<span>下一篇</span>
			</div>
		</div>

