


a{
    color: #777777;
    text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
img{
	display: block;
}


/* 导肮栏 */
#top1{
	width: 100%;
	height: 0px;
	background: #000000;
	border-bottom: #333333 1px solid;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	transition: all 2s;
	z-index: 100;
}

.top_neikuan1{
	width: 90%;
	height: 58px;
	margin: 0 auto;
}

.top_neikuan_z1{
	width: 1024px;
	height: 58px;
	margin: 0 auto;
}
.top_neikuan_z_left1{
	width: 175px;
	height: 58px;
	float: left;
	position: relative;
}
.top_neikuan_z_left1 img{
	width: 116px;
	height: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.top_neikuan_z_right1{
	/* width: 70%; */
	height: 58px;
	float: right;
}
.top_neikuan_z_right_list1{
	/* width: 100%; */
	height: 58px;
}
.top_neikuan_z_right_list1 li{
	float: left;
	height: 58px;
	text-align: center;
	line-height: 58px;
	font-size: 14px;
	margin-right: 25px;
	margin-left: 25px;
	color: #777777;
}

.top_neikuan_z_right_list1 li:hover{
	color: #FF6000;
	cursor: pointer;
}
.top_neikuan_z_right_list1 li:hover a{
	color: #FF6000;
	cursor: pointer;
}
.top_neikuan_z_right_list1 .yangshi{
	color: #ff6000;
	/* margin-left: 100px; */
}





#top{
	width: 100%;
	height: 90px;
	background: #000000;
	border-bottom: #333333 1px solid;
	position: relative;
	z-index: 200;
}


.top_neikuan{
	width: 90%;
	height: 90px;
	margin: 0 auto;
}

.top_neikuan_z{
	width: 1024px;
	height: 90px;
	margin: 0 auto;
}
.top_neikuan_z_left{
	width: 175px;
	height: 90px;
	float: left;
}
.top_neikuan_z_left img{
	width: 100%;
	height: 60%;
	padding-top: 16px;
}
.top_neikuan_z_right{
	/* width: 70%; */
	height: 90px;
	float: right;
}
.top_neikuan_z_right_list{
	/* width: 100%; */
	height: 90px;
}
.top_neikuan_z_right_list li{
	float: left;
	height: 90px;
	text-align: center;
	line-height: 90px;
	font-size: 14px;
	margin-right: 25px;
	margin-left: 25px;
	color: #777777;
}

.top_neikuan_z_right_list li:hover{
	color: #FF6000;
	cursor: pointer;
}
.top_neikuan_z_right_list li:hover a{
	color: #FF6000;
	cursor: pointer;
}
.top_neikuan_z_right_list .yangshi{
	color: #ff6000;
	/* margin-left: 100px; */
}
/* 返回顶部 */
.dingbu{
	width: 34px;
	height: 34px;
	background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2212px%22%20height=%228px%22%20viewBox=%220%200%2012%208%22%20enable-background=%22new%200%200%2012%208%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22%23ffffff%22%20points=%225.999,3.376%201.6,8%200,6.303%205.999,0%2012,6.303%2010.4,8%20%22/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 300;
	display: none;
}



/* 图片 */
.tupian{
	width: 1024px;
	height: 273px;
	margin: 0 auto;
	margin-top: 30px;
}
.tupian img{
	width: 100%;
	height: 100%;
}




/* 标题 */

.biaoti1{
	width: 1024px;
	height: 100px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
}
.us1{
	display: block;
	width: 140px;
	height: 40px;
	margin: 0 auto;
	font-size: 32px;
	color: #333333;
	text-align: center;
	padding-top: 20px;
	position: relative;
}
.us1:after{
	content: "";
	display: block;
	width: 500px;
	height: 1px;
	background: #d6d6d6;
	position: absolute;
	top: 50px;
	left: -510px;
}
.us1:before{
	content: "";
	display: block;
	width: 500px;
	height: 1px;
	background: #d6d6d6;
	position: absolute;
	top: 50px;
	left: 150px;
}
.us2{
	display: block;
	width: 140px;
	height: 40px;
	margin: 0 auto;
	font-size: 14px;
	color: #a5a5a5;
	text-align: center;
	padding-top: 5px;
}


/* 站点 */

footer{
	width: 100%;
	height: 22.25rem;
	background: #242424;
	position: relative;
	top: 3.75rem;
}
.end-bar-footer{
	width: 64rem;
	height: 100%;
	margin:0 auto;
}
.end-left-bar{
	width: 33%;
	height: auto;
	float: left;
	margin-top: 28px;
	color: #696969;
}
.end-left-bar strong{
	color: #FF6000;
}
.end-bar-white{
	color: #fff;
}
.end-left-bar li{
	width: 100%;
	height: 1.65rem;
}
.end-bar-final{
	width: 100%;
	height: 3.8125rem;
	float: left;
}
.end-final-img{
	width: 100%;
	height: 2.25rem;
	text-align: center;
}
.end-bar-icon{
	width: 2rem;
	height: 2rem;
	display: inline-block;
	margin: 1rem 0.1875rem;
}
.end-final-power{
	width: 100%;
	margin-top: 1.5rem;
	color: #fff;
	text-align: center;
}
.icon1{
	background: url(../img/9.png) no-repeat -4rem -10rem;
}
.icon2{
	background: url(../img/9.png) no-repeat 0 -10rem;
}
.icon3{
	background: url(../img/9.png) no-repeat -40rem -10rem;
}
.icon4{
	background: url(../img/9.png) no-repeat -42rem -10rem;
}
.icon5{
	background: url(../img/9.png) no-repeat -8rem -10rem;
}