@import url("public.css");

@keyframes donghua1{
	0%{
		transform: translateY(300px);
	}
	100%{
		transform: translateY(0px);
	}
}


.biaoti1_neirong{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	margin-top: 44px;
	overflow: hidden;
}
.biaoti1_neirong_zt{
	width: 23%;
	height: auto;
	float: left;
	margin-right: 2%;
    position: relative;
    top: 310px;
}
.biaoti1_neirong_zt_img1{
	width: 100%;
	height: 146px;
	background: #FFFFFF;
	box-shadow: #000000 2px 2px 5px;
	position: relative;
}
.biaoti1_neirong_zt_img1 img{
	width: 95%;
	height: 95%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.biaoti1_neirong_zt_wenzi1{
	font-size: 16px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #F0443A;
	margin-top: 20px;
}
.biaoti1_neirong_zt_img2{
	width: 100%;
	height: 20px;
}
.biaoti1_neirong_zt_img2 img{
	width: 90%;
	height: 1px;
	margin: 0 auto;
	padding-top: 10px;
}
.biaoti1_neirong_zt_wenzi2{
	font-size: 14px;
	width: 100%;
	height: auto;
	line-height: 24px;
	/* text-align: center; */
	color: #808080;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}
.biaoti1_img{
	width: 50%;
	height: 70px;
	margin: 0 auto;
	margin-top: 14px;
}
.biaoti1_img img{
	width: 100%;
	height: 100%;
}